<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Acquia CLI">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="tests/logs/clover.xml"/>
    </logging>
    <php>
        <const name="PHPUNIT_ACQUIACLI_TESTSUITE" value="true"/>
    </php>
</phpunit>
